body{
    font-family: verdana, helvetica;
    font-weight: bold;
    width: 95%;
    height: 200px;
    background-color: #566356; 
    text-align: left;
    background-image: url("imagen.jpg");
    background-size: 130rem;
    background-position: center center;
 }
 
 #nav{
    width: 155px;
    
 }
 
 .cuerporec{
    border-width: 2px;
    border-style: solid;
    border-color: #6b2991;
    margin-top: 4px;
    margin-right: 0pt;
    margin-bottom: 10px;
    margin-left: 0pt;
    transform: translateY(104%);
    background: rgba(0  , 0, 0 );
 }
 .cuadro{
   border-width: 2px;
   border-style: solid;
   border-color: #6b2991;
   transform: translateX(8.7%);
   background: rgb(247, 245, 245);
   

}

 
